<section class="max-w-3xl mx-auto my-12 px-4">
  <h1 class="text-3xl font-bold text-primary mb-6 text-center">Mentions légales</h1>
  <p class="mb-4 text-secondary">
    <b>Éditeur :</b> Argan d'ici <br>
    <b>Responsable de la publication :</b> Nabil El ... <br>
    <b>Email :</b> <a href="mailto:contact@argandici.com" class="text-primary underline">contactàargandici.com</a><br>
    <b>Siège social :</b> ... France <br>
    <b>Numéro SIRET :</b> ... <br>
  </p>
  <p class="mb-4 text-secondary">
    <b>Hébergeur :</b> OVH, 2 rue Kellermann, 59100 Roubaix, France
  </p>
  <p class="mb-4 text-secondary">
    <b>Propriété intellectuelle :</b> Tous les contenus présents sur ce site sont la propriété exclusive d'Argan
    d'ici...
  </p>
  <!-- Ajoute les infos légales nécessaires (SIRET, CNIL, etc.) -->
</section>
